<section class="goods">
  <div class="container">
    <div class="goods-search">
      <div class="goods-search_icon">
        <img src="img/svg/icons/search.svg" alt="search user">
      </div>
      <input class="goods-search_input" type="text" placeholder="Enter device name...">
      <div class="goods-search_filter btn_search">
        <img class="goods-filter_img" src="img/svg/icons/filter.svg " alt="filter icon">
      </div>
      <div class="goods-search_settings btn_search">
        <img class="goods-settings_img" src="img/svg/icons/settings.svg" alt="settings icon">
      </div>
    </div>

    <div class="goods-store">
      <!-- <div class="goods-items">
        <div class="goods-items-top">
          <img class="goods-items-top_like" src="img/svg/icons/like_empty.svg" alt="">
          <img class="goods-items-top_img" src="img/items/apple-tv.jpeg" alt="">
          <h2 class="goods-items-top_title title title_fz24">Apple TV Gen.4</h2>
          <span class="goods-items-top_status title_fz14">
            <img class="goods-items-top_status__img" src="img/svg/icons/check.svg" alt="">
            <span class="goods-items-top_status__quantity">24</span>left in stock
          </span>
          <span class="goods-items-top_price title_fz14">Price:
            <span class="goods-items-top_price__sum">500</span>$
          </span>
          <button class="btn goods-items-top_btn">Add to cart</button>
        </div>

        <div class="goods-items-bottom">
          <img class="goods-items-bottom_filledlike" src="img/svg/icons/like_filled_red.svg" alt="">
          <span class="goods-items-bottom_reviews title_fz14">
            <span class="goods-items-bottom_reviews__percent">77%</span>Positive reviews <br> Above avarage
          </span>
          <span class="goods-items-bottom_order title_fz14">
            <span class="goods-items-bottom_order__quantity">527</span>orders
          </span>
        </div>
      </div>

      <div class="goods-items">
        <div class="goods-items-top">
          <img class="goods-items-top_like" src="img/svg/icons/like_empty.svg" alt="">
          <img class="goods-items-top_img" src="img/items/apple-tv.jpeg" alt="">
          <h2 class="goods-items-top_title title title_fz24">Apple TV Gen.4</h2>
          <span class="goods-items-top_status title_fz14">
            <img class="goods-items-top_status__img" src="img/svg/icons/check.svg" alt="">
            <span class="goods-items-top_status__quantity">24</span>left in stock
          </span>
          <span class="goods-items-top_price title_fz14">Price:
            <span class="goods-items-top_price__sum">500</span>$
          </span>
          <button class="btn goods-items-top_btn">Add to cart</button>
        </div>

        <div class="goods-items-bottom">
          <img class="goods-items-bottom_filledlike" src="img/svg/icons/like_filled_red.svg" alt="">
          <span class="goods-items-bottom_reviews title_fz14">
            <span class="goods-items-bottom_reviews__percent">77%</span>Positive reviews <br> Above avarage
          </span>
          <span class="goods-items-bottom_order title_fz14">
            <span class="goods-items-bottom_order__quantity">527</span>orders
          </span>
        </div>
      </div>

      <div class="goods-items">
        <div class="goods-items-top">
          <img class="goods-items-top_like" src="img/svg/icons/like_empty.svg" alt="">
          <img class="goods-items-top_img" src="img/items/apple-tv.jpeg" alt="">
          <h2 class="goods-items-top_title title title_fz24">Apple TV Gen.4</h2>
          <span class="goods-items-top_status title_fz14">
            <img class="goods-items-top_status__img" src="img/svg/icons/check.svg" alt="">
            <span class="goods-items-top_status__quantity">24</span>left in stock
          </span>
          <span class="goods-items-top_price title_fz14">Price:
            <span class="goods-items-top_price__sum">500</span>$
          </span>
          <button class="btn goods-items-top_btn">Add to cart</button>
        </div>

        <div class="goods-items-bottom">
          <img class="goods-items-bottom_filledlike" src="img/svg/icons/like_filled_red.svg" alt="">
          <span class="goods-items-bottom_reviews title_fz14">
            <span class="goods-items-bottom_reviews__percent">77%</span>Positive reviews <br> Above avarage
          </span>
          <span class="goods-items-bottom_order title_fz14">
            <span class="goods-items-bottom_order__quantity">527</span>orders
          </span>
        </div>
      </div>

      <div class="goods-items">
        <div class="goods-items-top">
          <img class="goods-items-top_like" src="img/svg/icons/like_empty.svg" alt="">
          <img class="goods-items-top_img" src="img/items/apple-tv.jpeg" alt="">
          <h2 class="goods-items-top_title title title_fz24">Apple TV Gen.4</h2>
          <span class="goods-items-top_status title_fz14">
            <img class="goods-items-top_status__img" src="img/svg/icons/check.svg" alt="">
            <span class="goods-items-top_status__quantity">24</span>left in stock
          </span>
          <span class="goods-items-top_price title_fz14">Price:
            <span class="goods-items-top_price__sum">500</span>$
          </span>
          <button class="btn goods-items-top_btn">Add to cart</button>
        </div>

        <div class="goods-items-bottom">
          <img class="goods-items-bottom_filledlike" src="img/svg/icons/like_filled_red.svg" alt="">
          <span class="goods-items-bottom_reviews title_fz14">
            <span class="goods-items-bottom_reviews__percent">77%</span>Positive reviews <br> Above avarage
          </span>
          <span class="goods-items-bottom_order title_fz14">
            <span class="goods-items-bottom_order__quantity">527</span>orders
          </span>
        </div>
      </div> -->

    </div>
  </div>
</section>
